<h1>Add Event</h1>

<form method="post">
    <input name="name" type="text" />
    <input type="submit" value="Add Event" />
</form>

<div>
    <partial name="/Views/Shared/_LinkListPartial.cshtml" />
</div>